<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Connected Streets - Live View</title>
    </head>
    <body>
        <div class="header"><h2>Connected Streets - Live View</h2></div>
        <div class="main">
            <strong>A message from the mayor: </strong>As we roll out our new smart traffic grid, we're committing to keeping you--our constituents--informed. Check back for updates on where the smart traffic lights will be deployed as part of our pilot program.</div>
            <img src="/images/citymap.png" alt="City map coming soon!">
        </div>
    </body>
</html>
